*{
    padding: 0;
    margin: 0;
}

html {
	scroll-behavior: smooth;
}

body{
    background-color: rgb(26, 24, 24);
    color: white;
}

/* sidebar */
.sidebar{
    /* border: border-box; */
    position: fixed;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 20%; */
    transition: .1s ease-in-out;
    width: 5%;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.5),rgba(0,0,0,0.0));
    /* background-color: rgba(0, 0, 0, 0.519); */
}

.sidebar .option{
    height: 7%;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 15%; */
    margin-bottom: 5%;
    transition: .1s ease-in-out;
    
}

.sidebar a{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}

.sidebar:hover{
    width: 20%;
}

.sidebar:hover .option{
    justify-content: flex-start;
    margin-left: 15%;
}

.sidebar:hover a{
    display: inherit;
}

.sidebar .option:hover{
    height: 8%;
    font-size: 1.1rem;
}

.sidebar .option:hover .icons{
    color: #43A1D5 !important;
}
.sidebar .option:hover a{
    color: #43A1D5;
}


/* box1 */
.box1{
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.90)), url(./media/box1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.box1 p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* border-bottom: solid 1px white; */
    padding: 0 60px 5px 60px;
    text-shadow: 1px 1px black;
    opacity: 0;
    animation: box1-animation 1.5s ease-in normal forwards;
}

.box1 #separator{
    border-top: solid 1px white;
    width: 30vw;
    opacity: 0;
    animation: box1-animation .5s ease-in normal forwards;
    animation-delay: 1.5s;
}

.box1 .heading #remaining{
    opacity: 0;
    animation: box1-animation 1s ease-in normal forwards;
    animation-delay: 4.5s;
}

/* make changes to initial opacity to get animation properly */

.box1 .heading h1{
    text-transform: uppercase;
    margin-bottom: 10vh;
    font-size: 4vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    opacity: .8;
    /* opacity: 0; */
    display: inline-block;
    text-shadow: 2px 2px black;
}

.box1 .heading #the-one{
    color: #43A1D5;
    opacity: 0;
    animation: box1-animation 1.5s ease-in normal forwards;
    animation-delay: 3.0s;
    
}

@keyframes box1-animation{
    from{
        opacity: 0;
        /* transform: translate(0, 15vh); */
    }   
    to{
        opacity: .8;
    }
}



/* box2 */
.box2{
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.2), rgba(0,0,0,0.95)), url(./media/box2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.box2-content{
    /* text-align: center; */
    width: 40%;
    margin-bottom: 10vh;
    margin-left: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.078); */
}

.box2-content h1, .box3-content h1, .box4-content h1, .box5 h1{
    text-transform: uppercase;
    font-size: 3.5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px black;
    color: #43A1D5;
}

.box2-content p, .box3-content p, .box4-content p{
    text-shadow: 1px 1px black;
    font-size: 1.1rem;
}


/* box-3 */
.box3{
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.2), rgba(0,0,0,0.95)), url(./media/box3/leo_celebration.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: left;
    align-items: flex-end;

    animation: box3-bg-animation 80s ease-in-out infinite;
    position: relative;
    isolation: isolate;
}

.box3::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.2), rgba(0,0,0,0.95));
    /* background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.2), rgba(0,0,0,0.95)); */
}

.box3-content{
    /* text-align: center; */
    width: 40%;
    margin-bottom: 10vh;
    margin-left: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.078); */
}

@keyframes box3-bg-animation {
    0%{background-image:  url(./media/box3/leo_celebration.jpg);}
    15%{background-image:  url(./media/box3/leo_ronaldinho_back.jpg);}
    25%{background-image:  url(./media/box3/leo_ronaldinho_cute.jpg);}
    40%{background-image:  url(./media/box3/leo_ronaldinho_celebration.webp);}
    50%{background-image:  url(./media/box3/leo_ronaldinho_back_2.jpg);}
    60%{background-image:  url(./media/box3/leo_ronaldinho_celebration_1.jpg);}
    80%{background-image:  url(./media/box3/leo_ronaldinho_celebration_2.jpg);}
    95%{background-image:  url(./media/box3/leo_ronaldinho_celebreation_3.jpg);}
    100%{background-image:  url(./media/box3/leo_celebration.jpg);}

}

/* box4 */
.box4{
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    position: relative;
    /* isolation: isolate; */
}

.box4 video{
    position: absolute;
    inset: 0;
    z-index: -1;
    /* min-width: 100%;
    min-height: 100%; */
    object-fit: cover;
    opacity: 0.6;
}


.box4-content{
    width: 100%;
    padding-bottom: 10vh;
    padding-left: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5), rgba(0,0,0,0.9));

    
}

.box4 p{
    width: 40%;
}
#white-text{
    color: white;
}


.box1, .box2, .box3, .box4{
    /* display: none; */
}

/* box5 */
.box5{
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* isolation: isolate; */
}

.box5 .text{
    position: absolute;
    inset: 0;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10vh;
}


.box5 .team{
    height: 100%;
    width: 25%;
    background-color: blue;
    transition: .2s ease-in-out;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 .team1{
    background-color: black;
    /* background-position: 10%; */
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(./media/box5/flags/team1_flag.jpg);
}
.box5 .team2{
    background-color: green;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(./media/box5/flags/team2_flag.webp);
}
.box5 .team3{
    background-color: blue;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(./media/box5/flags/team3_flag.png);
}
.box5 .team4{
    background-color: grey;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(./media/box5/flags/team4_flag.jpg);
}
.box5 .team5{
    background-color: red;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(./media/box5/flags/team5_flag.png);
}


.box5 .team .logo{
    height: 40%;
    width: 90%;
    /* opacity: 0.8; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 .team .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(50%);
    transition: .2s ease-in-out;
}


.team:hover{
    background-color: white;
    /* flex-grow: 5; */
    width: 30%;
}

.team:hover .logo img{
    filter: brightness(100%);
}


/* box6 */
.box6{
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* isolation: isolate; */
}



.box1, .box2, .box3, .box4, .box5, .box6{
    /* display: none; */
}


/* box7 */
.box7{
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-top: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* isolation: isolate; */
}

.box7 video{
    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
    opacity: 0.6;
}

.box7-content{
    background-color: rgba(0, 0, 0, 0.373);
    height: 85%;
    width: 85%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box7-content h1{
    align-self: flex-start;
    /* background-color: green; */
    margin: .5% 1% .5% 1.5%;
    text-transform: uppercase;
    font-size: 7vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    height: 10%;
    text-shadow: 2px 2px black;
    color: #43A1D5;
}

.box7-content .stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 1% 1% 1%;
    width: 100%;
    height: 80%;
    
    /* margin-bottom: 1%; */
    /* margin-right: 10px; */
    /* background-color: red; */
}

.box7-content .stats-container .teams{
    height: 100%;
    width: 50%;
    margin-left: 1%;
    padding: 3% 3% 3% 1%;
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: solid 1px white; */
}

.box7-content .stats-container .teams img{
    height: 25%;
    width: 33%;
    object-fit: contain;
    filter: brightness(70%);
    transition: .2s ease-in-out;
}

.box7-content .stats-container .teams img:hover{
    filter: brightness(100%);
    /* height: 35%; */
    /* width: 35%;  */
}



.box7-content .stats-container .team-stats{
    height: 100%;
    width: 50%;
    margin-right: 1%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px white;
}

.box7-content .stats-container .team-stats .data{
    /* background-color: blue; */
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* color: blue; */
    transition: .2s ease-in-out;
    
}

.box7-content p{
    text-shadow: 1px 1px black;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box7-content img:hover p{
    color: black;
}




.test{
    height: 100px;
    width: 1000px;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.test h1{
    margin-bottom: 1%;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(26, 25, 25);
    /* opacity: 0; */
    /* background-color: rgba(22, 22, 22, 0.047); */
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .box1 #separator{
        width: 50vw;
    }
}